.users {
    width: 1000px;
    overflow: hidden;
}

.photoUser {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pageNumbers {
    max-width: 1000px;
    overflow: hidden;
}
a {
    display: inline-block;
}