.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 600px;
    grid-template-columns: 2fr 10fr;
    border: 1px solid #eee;
}

.app-wrapper-content {
    background-color: #eee;
    grid-area: c;
}

a {
    text-decoration: none
}